<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center">
            <h1 style="color: #000">
                You are invited to project: <i style="color: blue;">{{projectName}}</i> by {{reqUser}}
            </h1>
            <a href={{url}}>
                <button style="background-color: #7B68EE; border: none; color: #fff; height: 50px; width: 150px; font-size: 20px; border-radius: 5px">
                Đi đến trang
                </button>
            </a>
    </div>
</body>
</html>